
{{ partial "header.html" . }}
{{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
<div class="empty">&nbsp;</div>
  <div class="post-title">
    <a class="post-title-link" href="{{ .Permalink }}">{{ .Title }}</a>
  </div>{{ if isset .Params "tags" }}
      <div class="tags">tags:</br>
        {{ range  .Params.tags }}<a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }} </a>{{ end }}</div>
    <div class="content-tags"><p>{{.Summary}}</p></div>{{ else }}
    <div class="content-full"><p>{{.Summary}}</p></div>  {{ end }}{{ end }}
    {{ partial "pagination.html" . }}
    {{ partial "footer.html" . }}
